---
title: The Cascaval Family's Site
brand: The Cascaval Family's Home
css: /assets/css/carousel.css
---

<!DOCTYPE html>
<html lang="en">

  {% include calin_head.html %}

  <body>

    {% include header.html %}
    <!-- Carousel
    ================================================== -->
    <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <!-- Indicators; they are ugly!
      <div class="carousel-indicators">
        {% for slide in site.data.carousel %}
        <button type="button" data-bs-target="#carousel" data-slide-to="{{ forloop.index0 }}"
          {% if forloop.first -%}
            class="active" aria-current="true"
          {%- endif %}
          aria-label="{{ slide.slide }}">
        </button>
        {%- endfor %}
      </div>
      -->
      <div class="carousel-inner">
        {% for slide in site.data.carousel %}
        {%- assign item_active="carousel-item" -%}
        {%- if forloop.first -%}
           {%- assign item_active = item_active | append: " active" -%}
        {%- endif -%}
        <div class="{{ item_active }}">
          <img class="d-block"
               src="{{ slide.photo }}" alt="{{ slide.alt }}">
          <div class="carousel-caption">
              <h1>{{ slide.slide }}</h1>
              {%- if slide.subtitle -%}
              <p>{{ slide.subtitle }}</p>
              {%- endif %}
          </div>
        </div>
        {% endfor %}
      </div> <!-- carousel-inner -->
      <button class="carousel-control-prev p-0" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next p-0" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing align-items-center">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        {%- for person in site.data.family -%}
        <div class="card col-lg-3 col-md-6 col-sm-12 border-0">
          {%- if person.image -%}
          <div class="card-img-top d-flex justify-content-center">
          <img class="rounded-circle mt-5"
               src="{{ person.image }}"
               alt="{{ person.person }}"
               width="140" />
             </div>
          {%- endif -%}
          <div class="card-body mb-auto">
            <h2 class="card-title">{{ person.person }}</h2>
            <p>{{ person.descr }}</p>
          </div>
          {%- if person.link -%}
          <div class="align-self-end">
            <a class="btn btn-outline-dark"
               href="{{ person.link }}"
               role="button"
               target="_blank">{{ person.linkname }} &raquo;</a>
          </div>
          {%- endif -%}
        </div><!-- /card .col-lg-4 -->
        {%- endfor -%}
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer class="m-5">
      <!--   <p class="pull-right"><a href="#">Back to top</a></p> -->
      <p class="text-end">&copy; 2015-2024  {{ site.author }} &middot; <a href="mailto:{{ site.email }}">Contact</a></p>
      </footer>

    </div><!-- /.container -->

    {% include scripts.html %}

  </body>
</html>
