<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head
  content must come *after* these tags -->
  <meta name="description" content="{{ page.title }}">
  <meta name="author" content="{{ site.author }}">
  <title>{{ page.title }}</title>
  <!-- Bootstrap core CSS -->
  <link href="/assets/vendor/bootstrap-5.3.3/css/bootstrap.min.css"
        rel="stylesheet" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href='{{ page.css | relative_url }}' rel="stylesheet">
</head>
