---
title: Călin's Site
brand: Călin Cașcaval
css: /calin/header.css
data-theme: dark
---
<!DOCTYPE html>
<html lang="en">
  {% include calin_head.html %}

  <body>
    {% include header.html %}

      <div class='profile_header with_cover'>
        <div class='cover_photo'>
          <div class='cover_wrap'>
            <div class='image' style='background-image: url(/assets/images/calin/TahoeSunset_s.jpg)'>
            </div>
          </div>
          <div class="container">
            <div class="carousel-caption">
              <h1>Integrity is the ability to stand by an idea.</h1>
              <div class="signature">Ayn Rand, Fountainhead</div>
            </div>
          </div>
        </div>
      </div>

    <main>

    <div class="container marketing align-items-center">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        {%- for card in site.data.calin -%}
        <div class="card col-lg-4 col-md-12 col-sm-12 border-0">
          {%- if card.image -%}
          <div class="card-img-top d-flex justify-content-center">
          <img class="rounded-circle mt-5"
               src="{{ card.image }}"
               alt="{{ card.imgalt }}"
               width="140" />
             </div>
          {%- endif -%}
          <div class="card-body mb-auto">
            <h2 class="card-title">{{ card.title }}</h2>
            <p>{{ card.body }}</p>
          </div>
          <div class="align-self-end">
            <a class="btn btn-outline-dark"
               href="{{ card.link }}"
               role="button"
               target="_blank">{{ card.linkname }} &raquo;</a>
          </div>
        </div><!-- /card .col-lg-4 -->
        {%- endfor -%}
      </div><!-- /.row -->

    </main>
      <hr class="featurette-divider">
      <footer class="m-5">
      <p class="text-end">&copy; 1993-2024 {{ site.author }} &middot; <a href="mailto:{{ site.email }} ">Contact</a></p>
      </footer>

    </div><!-- /.container -->

    {% include toggle_theme_js.html %}
    {% include scripts.html %}
  </body>
</html>
