---
data-theme: dark
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
    content must come *after* these tags -->
    <meta name="description" content="Calin's page">
    <meta name="author" content="Calin Cascaval">
    <title>C&#259;lin's Site</title>
    <base href="http://localhost:4000/" target="_blank">

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
    -->
    <!-- Custom styles for this template -->
    <link href="/assets/css/header.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar-wrapper">
      <div id="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div id="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">C&#259;lin Ca&#351;caval</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="https://www.cascaval.us">Home</a></li>
                <li><a href="mailto:cascaval@acm.org">Contact</a></li>
				<!-- <li>{% include toggle_theme_button.html %}</li> -->
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class='profile_header with_cover'>
      <div class='cover_photo'>
        <div class='cover_wrap'>
          <div class='image' style='background-image: url(/assets/images/calin/TahoeSunset_s.jpg)'>
          </div>
        </div>
        <div class="container">
          <div class="carousel-caption">
            <h1>Integrity is the ability to stand by an idea.</h1>
            <div class="signature">Ayn Rand, Fountainhead</div>
          </div>
      </div>
      </div>
    </div>

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-md-4">
          <h2>Work</h2>
          <p>C&#259;lin is Director of Engineering at Google Research, an
            IEEE Fellow and ACM Senior Member.
            His research interests span all aspects of parallel
            systems -- applications, languages, compilers and runtime
            systems. He is passionate about building high performance,
            efficient, and scalable systems.
            <!--
            by developing new programming models for parallel,
            distributed, and heterogeneous systems, designing and
            architecting the entire software stack and remove
            inefficiencies by co-designing software and hardware
            architectures.--> </p>
          <p><a class="btn btn-default" href="https://www.linkedin.com/in/cascaval" role="button" target="_blank">LinkedIn profile &raquo;</a></p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <h2>Resume</h2>
          <p>C&#259;lin enjoys good challenges, and at the same time,
          he believes that one must take time to make an impact. He
          is actively <a href="cv.html#service">participating</a> in
          the community through student mentoring, academic
          collaborations, and conference organization.</p>
          <p><a class="btn btn-default" href="resume.pdf"
			    role="button">Resume (PDF) &raquo;</a>
            <a class="btn btn-default" href="cv.html" role="button">Full CV &raquo;</a></p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <h2>Publications</h2>
          <p>C&#259;lin's work and collaboration has resulted in over 50 peer reviewed <a href="cv.html#publications">publications</a> and over 35 <a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&Sect2=HITOFF&p=1&u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&r=0&f=S&l=50&TERM1=cascaval&FIELD1=INNM&co1=AND&TERM2=&FIELD2=&d=PTXT" target="_blank">granted patents</a>.</p>
          <p><a class="btn btn-default" href="https://scholar.google.com/citations?user=ezEWSZ0AAAAJ" role="button" target="_blank">Google Scholar &raquo;</a></p>
        </div><!-- /.col-md-4 -->
      </div><!-- /.row -->
      <hr/>

      <div class="row">
        <div class="col-md-4 centered">
          <img class="img-circle" src="/assets/images/calin/Family_s.jpg"
		       alt="family" width="140" height="140" />
          <h2>Family</h2>
          <p>Pictures for the family (password protected).</p>
          <p><a class="btn btn-default" href="https://poze.cascaval.us/" role="button">View details &raquo;</a></p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4 centered">
          <img class="img-circle" src="/assets/images/calin/Cameras_s.jpg"
			   alt="photo" width="140" height="140" />
          <h2>Photography</h2>
          <p>A sample of my shared photographs on 500px.</p>
          <p><a class="btn btn-default" href="http://500px.com/CalinCascaval" role="button">View details &raquo;</a></p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4 centered">
          <img class="img-circle" src="/assets/images/calin/GadValley_s.jpg"
               alt="outdoors" width="140" height="140" />
          <h2>Outdoors</h2>
          <p class="centered">We enjoy nature in all seasons.</p>
          <p class="centered"><a class="btn btn-default" href="outdoors.html" role="button">View details &raquo;</a></p>
        </div><!-- /.col-md-4 -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col centered">
          <p><a href="https://en.wikipedia.org/wiki/Silver_fern_flag#/media/File:Silver_fern_flag.svg">
              <img class="img-circle"
                   src="/assets/images/blog/Silver_fern_flag.svg"
                   alt="Silver Fern flag by Bamse under CC BY-SA 3.0"
                   width="140" />
          </a></p>
          <h2>New Zealand Journey</h2>
          <p class="centered">A blog of our new adventures on the other side
          of the world.</p>
          <p class="centered"><a class="btn btn-default" href="blog.html" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">
      <footer>
      <p>&copy; 1993-2021 Călin Cașcaval &middot; <a href="mailto:cascaval@acm.org">Contact</a></p>
      </footer>

    </div><!-- /.container -->

	{% include toggle_theme_js.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    -->
  </body>
</html>
